//= require bootstrap
//= require font-awesome
//= require_self
//= require_directory .

html, body {
  background: #f9f9f9;
  height: 100%;
  width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

header {
  background: #333333;
  color: #ededed;
  overflow: hidden;
  padding-bottom: 3px;
  padding-top: 3px;
  h1 {
    float: left;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    margin-right: 40px;
    a {
      color: #ededed;
      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }
  }
  nav {
    padding-top: 11px;
    a {
      color: #a3a3a3;
      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

#outlet {
  height: 100%;
  position: relative;
}

